# API Configurations
RECONX_API_KEY=
SHODAN_API_KEY=
GITHUB_TOKEN=

# Database Settings
DATABASE_URL=sqlite+aiosqlite:///reconx.db

# Authentication
JWT_SECRET=
JWT_ALGORITHM=HS256

# Core Execution
LOG_LEVEL=INFO
WORKER_THREADS=10
